<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="customerAction" class="com.dong.web.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
    </bean>

    <bean id="customerService" class="com.dong.serviceImpl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"/>
    </bean>

    <!--以后dao都需要继承hibernateDaoSupport类，注入sessionFactory-->
    <bean id="customerDao" class="com.dong.daoimpl.CustomerDaoImpl">
        <property name="sessionFactory" ref="localSessionFactoryBean"/>

    </bean>

    <bean id="localSessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!--平台事务管理器-->
    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="localSessionFactoryBean"/>
    </bean>

    <!--开启事务注解方式-->
    <tx:annotation-driven transaction-manager="hibernateTransactionManager"/>

    <tx:advice id="transaction" transaction-manager="hibernateTransactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" rollback-for="Exception" read-only="false" isolation="REPEATABLE_READ"/>
        </tx:attributes>
    </tx:advice>


</beans>












